.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    white-space: pre-wrap;
    height: 3rem;
    font-family: "Proxima Nova", 'sans-serif';
    font-weight: 400;
    font-size: 0.875rem;
    border-radius: 0;
    padding: 0 1rem;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 5;
}

.button_black {
    color: white;
    background: $black;
}

.button_gray {
    color: $black;
    background: #EFF2F5;
}
