.root {
  min-height: 100vh;
  background: white;
  position: relative;
  overflow: hidden;
}

.root__pyramid {
  width: 14.5rem;
  height: 14.5rem;
  position: absolute;
  top: 14.5rem;
  left: -2rem;


  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }

}

.root__sphere {
  width: 25rem;
  height: 25rem;
  position: absolute;
  bottom: -1.25rem;
  right: 0;
  z-index: 1;

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }

}

.content {
  width: var(--content-width);
  margin: 0 auto;
  z-index: 5;
  position: relative;

  @media screen and (max-width: $tablet-breakpoint) {
    padding: 0 1rem;
  }
}

.layout {
  width: 100vw;
  background: #FAFAFA;
  position: relative;
  overflow: hidden;
}

.layout__heading-container {
  height: 5.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.layout__heading {
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 100%;
  color: $black;

  margin-right: auto;
}

.layout__container {
  border-top: #F4F5F6 1px solid;
  width: 100%;
  border-radius: 32px;
  background: white;
  overflow: hidden;
  padding-top: 1.5rem;
  min-height: calc(100vh - 6.25rem - 5.5rem - 1px - 5rem);

  @media screen and (max-width: $mobile-breakpoint) {
    padding-bottom: 6.25rem;
  }

}

.layout__button {
  height: 2.5rem;
  margin-left: 0.5rem;

  @media screen and (max-width: $mobile-breakpoint) {
    display: none !important;
  }

}

.layout__button-icon {
  margin-right: 0.75rem;
}

.layout__mobile-button {
  display: none;

  @media screen and (max-width: $mobile-breakpoint) {
    display: block;
    height: 1.75rem;
    width: 1.75rem;
    margin-left: 1rem;
  }
}

