.transaction-list {
  padding-bottom: 200px;
  max-width: 70rem;
}

.transaction-item {
  border: 1px solid #EFF2F5;
  padding: 1rem 1.5rem 1.5rem;
  border-radius: 1rem;
  font-family: "Proxima Nova", 'sans-serif';
  background: white;
  margin-bottom: 1rem;

  &__not-started {
    margin-left: 0.8rem;
    font-size: 0.75rem;
  }

  &__img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
  }

  &__row {
    display: flex;
    align-items: center;

    @media screen and (max-width: $mobile-breakpoint) {
      &:first-child {
        margin-bottom: .3rem;
      }

      &:not(:first-child) {
        flex-direction: column;
      }
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &:first-child {
      margin-bottom: 1rem;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      &:not(:first-child) {
        margin-bottom: 0!important;
      }
    }
  }

  &__mobile-row {
    display: flex;
    align-items: center;

    &:last-child {
      margin-left: auto;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      margin-left: 0!important;
      width: 100%;
      height: 1.7rem;
    }
  }

  &__right {
    margin-left: auto;

    @media screen and (max-width: $mobile-breakpoint) {
      margin-left: 0;
    }
  }

  &__black-text {
    font-size: 0.85rem;
    font-weight: 600;
  }

  &__grey-text {
    font-size: 0.75rem;
    color: #A6B0C3;
    margin-right: 0.5rem;

    @media screen and (max-width: $mobile-breakpoint) {
      margin-right: auto;
    }
  }

  &__clock {
    margin-right: .3rem;
    @media screen and (max-width: $mobile-breakpoint) {
      display: none;
      margin: 0.35rem;
    }
  }

  &__time {
    @media screen and (max-width: $mobile-breakpoint) {
      display: none;
    }
  }

  &__status {
    padding: .2rem .8em;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: white;

    img {
      width: 1rem;
      margin-right: 0.35rem;
    }

    &--loading {
      background-color: #F2C037;

      img {
        animation: rotating 2s linear infinite;
      }
    }

    &--checked {
      background: #16C784;

      @media screen and (max-width: $mobile-breakpoint) {
        margin-left: auto;
      }
    }
  }

  &__view-status {
    font-size: .75rem;
    margin-right: .5rem;
    background: #F4F5F6;
    padding:.3rem .75rem;
    border-radius: 1rem;

    @media screen and (max-width: $mobile-breakpoint) {
      margin-left: auto;
    }
  }

  .icon-link {
    margin: 0 1.5rem 0 0.25rem;

    @media screen and (max-width: $mobile-breakpoint) {
      margin-right: 0;
    }
  }
}
