// Colors HEX
$white: #ffffff;
$black: #212121;
$lighter-black: #262626;
$mobile-breakpoint: 1024px;
$tablet-breakpoint: 1280px;

* {
  --content-width: 70rem;
}

@media screen and (max-width: $tablet-breakpoint) {
  * {
    --content-width: 100%;
  }
}
