// Colors HEX
$white: #ffffff;
$black: #212121;
$gray: #F4F5F6;
$dark-gray: #58667E;
$green: #15D378;
$lighter-black: #262626;
$mobile-breakpoint: 1024px;
$tablet-breakpoint: 1279px;

* {
  --content-width: 80rem;
}

@media screen and (max-width: $tablet-breakpoint) {
  * {
    --content-width: 100%;
  }
}
